<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ncu.outpatient.mapper.PatientDetInfoMapper">
    <!--根据患者id查询患者的挂号信息-->
    <select id="findOneByID" parameterType="java.lang.String" resultType="com.ncu.pojo.common.PatientDetInfo">
        select l.patient_id as patientId,
        l.outpatient_id as outpatientId,
        l.patient_name as patientName,
        l.sex,l.age,
        l.doctor_name as doctorName,
        l.patient_feature as patientFeature,
        d_i.depart_name as departName
        from
        (select
            p_i.patient_id,
            o_i.outpatient_id,
            p_i.patient_name,
            p_i.sex,
            p_i.age,
            o_i.depart_id,
            e_i.name as doctor_name,
            o_i.check_time,
            p_i.patient_feature
                from
                patient_info p_i join outpatient_info o_i on
                p_i.patient_id = o_i.patient_id join employee_info e_i on
                o_i.employee_id = e_i.employee_id
            where p_i.patient_id=#{id}
            order by o_i.check_time desc limit 1) l join depart_info d_i on l.depart_id = d_i.depart_id;
    </select>
</mapper>